@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
body {
    background-image: linear-gradient(to right, #26B7D4, #2898DE);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #4229e785;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #26C7D4;
    text-align: center;
    text-shadow: 1px 1px 2px #1b0e6e85;
}
h2 {
    color: #2841DE;
}
p {
    text-align: justify;
}